<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.wayd">

    <application
            android:name=".WAYD"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <receiver android:name=".Widget.WidgetFinal">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_final_info"/>
        </receiver>
        <receiver android:name=".Widget.WaydWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/wayd_widget_info"/>
        </receiver>

        <activity
                android:name=".activities.RecordListActivity"
                android:label="@string/title_activity_record_list"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activities.ActivityEditorActivity">
        </activity>
        <activity android:name=".activities.RecordEditorActivity"/>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>